var content = "<input class='span3 copy-field well well-large' type='text' data-toggle='tooltip' title=' press ⌘+c to copy' value=#{escape_javascript(redirect_url(@link.alias))}>"

var container_load = $(content).hide().appendTo('.container').fadeIn(50)

$(container_load).focus().select()

$('.copy-field').tooltip({placement: 'bottom', trigger: 'focus'}).tooltip('show');

$('#copy-button').click(function(){$('#copy-button').prop('disabled', true).addClass('disabled')});
