%h1 mnml.
%br
= form_for @link, remote: true, :validate => true do |f|
  - if @link.errors.any?
    .text-error
      %p
        Form is invalid
        %p
          %ul.text-error
            - for message in @link.errors.full_messages
              %li.text-error= message
  %p
    = f.text_field :store, :class => "span5"
  %p
    = f.submit "Shorten URL", class: "btn btn-primary btn-large", id: "copy-button"
